<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
        <button type="button" class="close-button close" data-dismiss="modal">&times;</button>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img class="modal-image-wrapper img-responsive" src="{{{Image}}}">
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="book-title">Title: <strong>{{Title}}</strong></div>
                    <div class="book-subtitle">Sub title: <strong>{{SubTitle}}</strong></div>
                    <div class="bok-isbn">ISBN: <strong>{{isbn}}</strong></div>
                    <p class="book-description">{{Description}}</p>
                 </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="button-close btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
