.navigation {
    background-color: #000000;
}
.navigation  ul {
    list-style-type: none;
    padding-left: 0;
}
.navigation > ul > li {
    background-color: orange;
    display: inline-block;
    position: relative;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
}
.navigation > ul > li > ul {
    display: none;
}

.navigation > ul > li:hover > ul {
    display: block;
    padding: 0;
    position: absolute;
    margin: 10px 0 0 -10px;
}

.navigation > ul > li:hover > ul > li {
    background-color: #000;
    border-top: 1px solid #ffffff;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    min-width: 100px;
}
